<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed only by administrators.</p>
        <p class="mb-1">All users from secure api end point:</p>
        <br>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <table class="table table-borderd table-stripped table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">FIrst name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </div>
</div>


